<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 管理</title>
    @if (ViewContext.RouteData.Values.Values.Contains("Dashboard"))
    {
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    }
    else
    {
         <link href="~/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet" />     
    }
   
    <link rel="stylesheet" href="~/css/site.css"  asp-append-version="true"/>
    @await RenderSectionAsync("Styles",false) 
</head>
<body>
        @RenderBody()        
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    @if (ViewContext.RouteData.Values.Values.Contains("Dashboard"))
    {
        <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true" id="bs"></script>
    }else{
        <script src="~/bootstrap3/dist/js/bootstrap.min.js" asp-append-version="true" id="bs"></script>
    }
  
    <script src="~/lib/artDialog/dist/dialog-plus.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
