<nav class="navbar border-bottom box-shadow position-static">
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="ms-5"> [<a href="/" class="fs-6">返回</a>]</div>
        </div>
</nav>